<div class="dashboard-container">
  <div class="profile">
    <%= render partial: "partials/profile", locals: { user: current_user } %>
  </div>
  <div class="tweet">
    <%= form_for(@tweet, url: tweets_path, method: :post, html: { id: "tweet-create-form", multipart: true }) do |f| %>
      <div class="form-group">
        <h4> <%= f.label :text_field, "New Tweet:" %> </h4>
        <%= f.text_field :body, id: "tweet_body_field", class: 'form-control' %>
      </div>

      <div class="form-group text-center">
        <%= f.submit "Tweet!", class: "btn btn-success btn-lg" %>
      </div>
    <% end %>

    <h3>Timeline</h3>
    <%= render partial: "partials/tweets", locals: { tweets: @tweets } %>
  </div>
</div>
